
h1 {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 24pt;
	color: #ffa31a;
}

h3 {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 20pt;
	color: #cc7a00;
}

h4 {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 16pt;
	color: #cc7a00;
}

p {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 16pt;
	color: #343434;
}

small, li {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 12pt;
	color: #343434;
}

em {
	font-style: normal;
	color: #cc7a00;
	font-weight: normal;
}

body {
	width: 90%;
	float: right;
}

#guts {
	width: 70%;
	float: left;
}

#sidebar {
	width: 20%;
	float: left;
}

a {
	color: #cc2900;
	text-decoration: none;
}

a:hover {
	color: #ff704d;
}