
h1 {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 24pt;
	color: #2500e3;
}

h2 {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 22pt;
	color: #fcca00;
}

h3 {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 20pt;
	color: #fcca00;
}

h4 {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 16pt;
	color: #2500e3;
}

p {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 16pt;
	color: #343434;
}

small, li {
	font-family: "Arial Narrow";
	letter-spacing: 1px;
	size: 12pt;
	color: #343434;
}

em {
	font-style: normal;
	color: #2500e3;
	font-weight: normal;
}

body {
	width: 80%;
	float: left;
	position: relative;
	left: 10%;
}

#guts {
	width: 70%;
	float: left;
}

#sidebar {
	width: 20%;
	float: left;
}

a {
	color: #ff3600;
	border-bottom: 1px dashed #ff3600;
    text-decoration: none;
}

a:hover {
	color: #2500e3;
	border-bottom: 1px dashed #2500e3;
    text-decoration: none;
}